/* Put your CSS here */

html {
    margin: 30px 0;
}

body {
    padding-top: 40px;
    padding-bottom: 20px;
    height: 100%;
    margin: 30px 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #EEEEEE;
}

.banner-title {
    font-weight: 600;
    font-style: oblique;
    text-decoration-color: #FB1600;
}

.sale_header {
    font-weight: bold;
    font-size: medium;
}

.sale_title {
    font-weight: bold;
    font-size: 25px;
}

a {
    cursor: pointer;
}

.house_item {
    margin: 5px;
    padding: 5px;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #00498f;
    background-color: #54A3F6;
}

.house_item_header {
    text-align: left;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #00498f;
    padding: 5px;
}

.house_item_img {
    padding: 5px;
    with: 150px;
    height: 100px;
    border: 1px;
    border-color: #000000;
}

.Center-Container {
    position: relative;
}

.Absolute-Center {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.detail-title-sale {
    text-align: center;
    text-emphasis: circle;
    display: table-cell;
    vertical-align: middle;
    padding-left: 25px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 25px;
    height: 75px;
    color: #000000;
    background-color: #0063DC;
    border: solid 2px #061152;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.detail-title {
    text-align: center;
    text-emphasis: circle;
    display: table-cell;
    vertical-align: middle;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-top: 10px;
    height: 50px;
    color: #000000;
    background-color: #0063DC;
    border: solid 1px #061152;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.padding {
    padding: 5px;
}

.header_row {
    padding: 5px;
    padding-bottom: 0px;
    height: 5px;
    background-color: #EEEEEE;
}

.underline {
    font-style: normal;
}

.navbar-harvest .navbar-inner {
    border-bottom: solid;
    border-bottom-width: 0px;
    border-bottom-color: #000000;
    background: #EEEEEE;

}

.navbar-harvest .navbar-inner .nav {
    float: right;
}

.navbar-harvest .brand {
    color: #fff;
    text-shadow: none;
    padding-top: 2px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.navbar-harvest .navbar-inner .nav li {
    color: black;
    background: #54A3F6;
    font-weight: 400;
    border-right: solid;
    border-right-color: #000000;
    border-right-width: 1px;
}

.navbar-harvest .navbar-inner .nav li a {
    color: black;
    background: #54A3F6;
    font-weight: 400;
    border: none;
}

.navbar-harvest .navbar-inner .nav li.active a {
    background-color: #cccccc;
    color: black;
    border: none;
}

.navbar-harvest .navbar-inner .nav li a:hover {
    background: #cccccc;
    color: black;
    opacity: 1;
    border: none;
}

.label_price {
    font-style: oblique;
    background-color: red;
    padding: 5px;
    font-size: larger;
}

span.garden {
    background-image: url("assets/img/icon-garden.png");
    padding-left: 20px;
}

.holder {
    position: relative;
}

div.polaroid {
    width: 294px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: red;
    box-shadow: 2px 2px 3px #aaaaaa;
}

.action1 {
    position: absolute;
    top: 135px;
    right: -25px;
    z-index: 99;
    #-ms-transform: rotate(7deg); /* IE 9 */
    #-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    #transform: rotate(7deg);
}

.title1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #000000;
    font-size: 64;
    padding: 5;
    text-transform: uppercase;
    line-height: 28px;
    background-color: #66CCFF;
    border: 1px;
    border-color: darkblue;
}

.indekijker {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #000000;
    font-size: 64;
    padding: 5;
    text-transform: uppercase;
    text-align: center;
    line-height: 28px;
    background-color: #6283A0;
    border: 1px;
    border-color: darkblue;
}

.li {
    list-style-type: none;
}




