/* Put your CSS here */

html {
    margin: 30px 0;
}

body {
    padding-top: 40px;
    padding-bottom: 20px;
    height: 100%;
    margin: 30px 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #002638 100%);
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #002638 100%);
    background-image: -o-linear-gradient(top left, #FFFFFF 0%, #002638 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #002638));
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #002638 100%);
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #002638 100%);
}

a {
    cursor: pointer;
}

.house_item {
    margin: 5px;
    padding: 5px;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: #00498f;
    background-color: #EEEEEE;
}

.house_item_header {
    text-align: left;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #00498f;
    padding: 5px;
}

.house_item_img {
    padding: 5px;
    with: 150px;
    height: 100px;
    border: 1px;
    border-color: #000000;
}

.Center-Container {
    position: relative;
}

.Absolute-Center {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.detail-title {
    text-align: center;
    text-emphasis: circle;
    padding-left: 25px;
    height: 35px;
    color: #000000;
    background-color: #0063DC;
    border: solid 2px #061152;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.padding {
    padding: 5px;
}

.header_row {
    padding: 5px;
    height: 15px;
    background-color: lightblue;
}

.underline {
    font-style: !important;
}

.navbar-simple .brand {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-simple .navbar-inner {
    background: #fff;
    filter: none !important;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar-simple .navbar-inner .nav {
    float: right;
}

.navbar-simple .navbar-inner .nav li a {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #777;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
}

.navbar-simple .navbar-inner .nav li a:hover {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #bf3604;
}

.navbar-simple .navbar-inner .nav li.active a {
    color: #bf3604;
}

.navbar-harvest .navbar-inner {

    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f68a28), color-stop(100%, #f36c00));
    background: -webkit-linear-gradient(top, #f68a28, #0052CC);
    background: -moz-linear-gradient(top, #f68a28, #0052CC);
    background: -o-linear-gradient(top, #f68a28, #0052CC);
    background: -ms-linear-gradient(top, #f68a28, #0052CC);
    background: linear-gradient(top, #f68a28, #0052CC);
    background: #0052CC;

}

.navbar-harvest .navbar-inner .nav {
    float: right;
}

.navbar-harvest .brand {
    color: #fff;
    text-shadow: none;
    padding-top: 0px;
    padding-left: 50px;
    padding-bottom: 0px;
}

.navbar-harvest .navbar-inner .nav li a {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background 0.1s linear, opacity 0.1s linear;
    -moz-transition: background 0.1s linear, opacity 0.1s linear;
    -ms-transition: background 0.1s linear, opacity 0.1s linear;
    -o-transition: background 0.1s linear, opacity 0.1s linear;
    transition: background 0.1s linear, opacity 0.1s linear;
    -webkit-font-smoothing: antialiased;
    opacity: .9;
    font-weight: 600;
}

.navbar-harvest .navbar-inner .nav li.active a {
    background-color: #54a3f6;
    color: red;
}

.navbar-harvest .navbar-inner .nav li a:hover {
    background: #54a3f6;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    opacity: 1;
}




