<div class="row">
    <div class="col-md-12">
        <div class="well">
            <p>
                Wij zijn een familiaal immo kantoor gelegen te Rillaar, Aarschot en bestaan uit twee medewerkers.
                Paul heeft elf jaar geleden reeds de taak van vastgoedmakelaar uitgeoefend, maar is hiermee
                moeten stoppen gezien hij te veel werk had met zijn activiteit als ingenieur.
            </p>

            <p>
                In september heeft Stefanie, onze schoondochter, besloten opnieuw gaan te studeren en koos voor
                het vak van vastgoedmakelaar.
                Eind december 2013 hebben we besloten van de immo opnieuw jeugdig, nieuw leven in te blazen en
                deze opnieuw opgestart.
            </p>

            <p>
                Paul heeft de perfecte knowhow en Stefanie heeft jarenlange klantervaring, zo vormen wij samen
                het perfecte team en vullen we elkaar aan.
            </p>

            <p>
                <b>Onze troeven:</b>
            <ul>
                <li>
                    Wij proberen een zeer reële en marktconforme schatting te maken van uw vastgoed, zo willen
                    wij ons ook onderscheiden van andere vastgoedmakelaars, door eerlijk te zijn met u en geen loze
                    beloftes te doen.
                </li>
                <li>
                    Wij willen een persoonlijk contact met de mensen, geen huizen waar eigenaars bij horen, maar
                    eigenaars die een woning, appartement of grond verkopen en uw naam kennen, niet alleen het adres
                    van het goed dat u verkoopt.
                </li>
                <li>
                    Wij willen geen tientallen panden in onze etalage hangen die niet te verkopen zijn, voor het oog
                    van de buitenwereld, wij willen een goede dienstverlening naar onze klanten tonen en een goede
                    afwerking van de dossiers. Ons doel is uw onroerend goed zo snel mogelijk te verkopen en de juiste
                    kandidaat kopers aan te trekken.
                </li>
            </ul>
            </p>
        </div>
    </div>
</div>