<div class="container-fluid" id="header">

    <nav class="navbar navbar-harvest navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav nav-tabs pull-right">
                    {{#link-to "index" tagName="li"}}
                        <a href="#" class="active">Home</a>
                    {{/link-to}}
                    {{#link-to "houses" tagName="li" }}
                        <a href="#">Aanbod</a>
                    {{/link-to}}
                    {{#link-to "sale" tagName="li" }}
                        <a href="#">Verkoop</a>
                    {{/link-to}}
                    {{#link-to "about" tagName="li"}}
                        <a href="#">Over Ons</a>
                    {{/link-to}}
                    {{#link-to "contact" tagName="li"}}
                        <a href="#">Contact</a>
                    {{/link-to}}
                </ul>
                        <span class="brand pull-left">
                            <a> <img height="105px;" width="168px;" src="assets/images/logo_hib.jpg"></a>
                            <span style="height: 105px; vertical-align: bottom; background-color: inherit">Immobilien in vertrouwen </span>
                         </span>
            </div>
        </div>
    </nav>
</div>
    </div>
</div>

<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-md-offset-1 col-md-3">
            <div class="well" style="padding-top: 15px;">
                <table class="table table-condensed table-bordered">
                    <tr>
                        <td>Vrije openingsuren:</td>
                    </tr>
                    <tr>
                        <td>Maandag: 14.00u tot 16.00u</td>
                    </tr>
                    <tr>
                        <td>Dinsdag: 10.00u tot 12.00u</td>
                    </tr>
                    <tr>
                        <td>Woensdag: 14.00u tot 16.00u</td>
                    </tr>
                    <tr>
                        <td>Donderdag: 10.00u tot 12.00u</td>
                    </tr>
                    <tr>
                        <td>Vrijdag: 14.00u tot 16.00u</td>
                    </tr>
                    <tr>
                        <td>Steeds op afspraak, ook op zaterdag</td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td class="indekijker">
                            In de kijker
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{link-to '<img src="assets/images/project_voorkens/voorkens_thumb.JPG">' 'house' 12 class="img"}}
                            {{partial promo}}
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="col-md-8">
            {{outlet}}
        </div>
    </div>
</div>

