<div class="container">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container">

            <ul class="nav nav-tabs pull-right">
                {{#link-to "index" tagName="li"}}
                    <a href="#" class="active">Home</a>
                {{/link-to}}
                {{#link-to "houses" tagName="li" }}
                    <a href="#">Aanbod</a>
                {{/link-to}}
                {{#link-to "promotion" tagName="li" }}
                    <a href="#"><span style="color: red">Actie</span></a>
                {{/link-to}}
                {{#link-to "sale" tagName="li" }}
                    <a href="#">Verkoop</a>
                {{/link-to}}
                {{#link-to "about" tagName="li"}}
                    <a href="#">Over Ons</a>
                {{/link-to}}
                {{#link-to "contact" tagName="li"}}
                    <a href="#">Contact</a>
                {{/link-to}}
            </ul>

            <a class="navbar-brand" href="#">
                <img alt="Brand" <img height="90px;" width="650px;" src="assets/images/logo_hib_large2.png"/>
            </a>
        </div>
    </nav>
    <div class="row" style="padding-top: 25px;">
        <div class="col-md-3" style="padding-left: 0px;">
            <div class="well">
                <table class="table table-condensed table-bordered">
                    <tr>
                        <td>Vrije openingsuren:</td>
                    </tr>
                    <tr>
                        <td>Maandag: 14.00u tot 16.00u</td>
                    </tr>
                    <tr>
                        <td>Dinsdag: 10.00u tot 12.00u</td>
                    </tr>
                    <tr>
                        <td>Woensdag: 14.00u tot 16.00u</td>
                    </tr>
                    <tr>
                        <td>Donderdag: 10.00u tot 12.00u</td>
                    </tr>
                    <tr>
                        <td>Vrijdag: 14.00u tot 16.00u</td>
                    </tr>
                    <tr>
                        <td>Steeds op afspraak, ook op zaterdag</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="indekijker">
                            In de kijker
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{link-to '<img src="assets/images/project_dekeyzer/dekeyzer_thumb.JPG">' 'house' 15 class="img"}}
                            {{partial promo}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-9">
            {{outlet}}
        </div>
    </div>

</div>

