<nav class="navbar navbar-harvest navbar-fixed-top" role="navigation">
    <div class="row header_row"></div>
    <div class="navbar-inner">

        <div class="container">
            <ul class="nav nav-tabs pull-left">
                {{#link-to "index" tagName="li"}}
                    <a href="#" class="active">Home</a>
                {{/link-to}}
                {{#link-to "houses" tagName="li" }}
                    <a href="#">Aanbod</a>
                {{/link-to}}
                {{#link-to "sale" tagName="li"}}
                    <a href="#">Verkoop</a>
                {{/link-to}}
                {{#link-to "about" tagName="li"}}
                    <a href="#">Over Ons</a>
                {{/link-to}}
                {{#link-to "contact" tagName="li"}}
                    <a href="#">Contact</a>
                {{/link-to}}

            </ul>
            <a class="brand pull-right"> <img height="65px" src="assets/images/logo_hib.jpg"></a>
        </div>
    </div>
    <div class="row header_row"></div>
</nav>
<div class="container" id="main">
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <table class="table table-condensed table-bordered">
                    <tr>
                        <td>Vrije openingsuren:</td>
                    </tr>
                    <tr>
                        <td>Maandag: 14.00u tot 16.00u</td>
                    </tr>
                    <tr>
                        <td>Dinsdag: 10.00u tot 12.00u</td>
                    </tr>
                    <tr>
                        <td>Woensdag: 14.00u tot 16.00u</td>
                    </tr>
                    <tr>
                        <td>Donderdag: 10.00u tot 12.00u</td>
                    </tr>
                    <tr>
                        <td>Vrijdag: 14.00u tot 16.00u</td>
                    </tr>
                    <tr>
                        <td>Steeds op afspraak, ook op zaterdag</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-9">
            {{outlet}}
        </div>
    </div>
</div>
</div>
