<div class="row">
    <div class="col-md-12">
        <div class="well">
            <p>
                HIB-IMMO bvba</br>
                Diestsesteenweg 353 </br>
                3202 Rillaar Aarschot  </br>
            </p>

            <p>
                Tel: 016/50.90.26. </br>
                Fax: 016/50.90.27. </br>
                GSM 0494/20.12.59. </br>
                Email: info@hib-immo.be</br>
            </p>

            <p>
                BIV nummer: 501 443 </br>
                BTW en ondernemingsnummer: 0460.274.403</br>
                KBC Bank IBAN: BE13 7343 8130 0339  </br>
                BIC: KREDBEBB </br>
            </p>

            <p>
                Lid van confederatie van immobiliënberoepen in België</br><br>
                <a href="http://www.cibweb.be" target="_blank"> <img src="assets/images/logo_cibweb.jpg"></a>
            </p>

            <p>
                Onderworpen aan de deontologische code van het BIV </br>
                Beroepsinstituut van vastgoedmakelaars </br>
                Luxemburgstraat 16 B 1000 Brussel  </br>
                <a href="http://www.biv.be" target="_blank"><img src="assets/images/Logo-biv.jpg"></a>
            </p>
        </div>
    </div>
</div>