<div class="col-md-3">
    <p>
        <label for="typeFilter">Type:</label>
        <p id="typeFilter"></p>
    </p>
    <br>
    <p>
        <label for="cityFilter">Gemeente:</label>
    <p id="cityFilter"></p>
    </p>
    </br>
    <p>
        <label for="priceFilter">Prijs:</label>
        <p id="priceFilter"></p>
    </p>


    <!--
    <div id="slider-range"></div>
    <p>
        <label for="rooms">Kamers:</label>
        <input type="text" id="rooms" style="border:0; color:#f6931f; font-weight:bold;">
    </p>

    <div id="slider-rooms"></div>
    -->
</div>
<div class="col-md-9">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
<thead>
<tr>
    <th>Type</th>
    <th>??</th>
    <th>Prijs</th>
    <th>Kamers</th>
    <th>Gemeente</th>
</tr>
</thead>
<tbody>
<tr class="odd gradeX">
    <td>Woning</td>
    <td>Te Koop</td>
    <td>250000</td>
    <td class="center">4</td>
    <td class="center">Scherpenheuvel</td>
</tr>
<tr class="odd gradeX">
    <td>Woning</td>
    <td>Te Koop</td>
    <td>175000</td>
    <td class="center">4</td>
    <td class="center">Rillaar</td>
</tr>
<tr class="odd gradeX">
    <td>Villa</td>
    <td>Te Huur</td>
    <td>900</td>
    <td class="center">4</td>
    <td class="center">Scherpenheuvel</td>
</tr>
</tbody>
<tfoot>
<tr>
    <th>Type</th>
    <th>??</th>
    <th>Prijs</th>
    <th>Kamers</th>
    <th>Gemeente</th>
</tr>
</tfoot>
</table>
</div>