<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <div class="container">
                <div class="col-md-2">
                    <img src="assets/images/varkentje.jpg" width="134" height="133">
                </div>
                <div class="col-md-10 pull-left" style="align:left">
                    <p>Wist u dat HIB-IMMO u veel geld kan besparen ?</p>
                    <p>Sluit tijdens de maanden februari en maart 2014 een exclusieve verkoopovereenkomst <br> af en ontvang 21% korting op onze commissie</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <p>Ons aanbod in de kijker</p>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Rillaar</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%"><img class="house_item_img" src="assets/images/thumbNailPand1.jpg"></td>
                    <td width="65%" align="left">
                        diestsesteenweg 353<br>
                        3202 Rillaar<br>
                        Prijs : 395.000
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        {{link-to 'detail' 'house' 1 class="btn btn-primary"}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>

