<div class="row">
    <div class="col-md-12 house_item">
        <div class="row">
            <div class="col-md-3">
                <img src="assets/images/te-huur.jpg" alt="tehuur" class="img-responsive"/>
            </div>
            <div class="well col-md-6">
                <p>Weldra te huur : 3 nieuwbouwappartementen centrum Rillaar naast apotheek Verhaeghe - Laga</p>

                <p>
                <ul class="list-unstyled">
                    <li>1, 2 of 3 slaapkamers</li>
                    <li>staanplaats voor wagen</li>
                    <li>Binnenkort foto's en omschrijving op de website</li>
                </ul>
                </p>
            </div>
            <div class="col-md-3">
                <img src="assets/images/te-huur.jpg" alt="tehuur" class="img-responsive"/>
            </div>
        </div>
    </div>

</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="assets/images/welkom/resized000.png" alt="kantoorgebouw" alt="First slide">
        </div>
        <div class="item">
            <img src="assets/images/welkom/resized001.png" alt="kantoorgebouw" alt="First slide">
        </div>
        <div class="item">
            <img src="assets/images/welkom/resized002.png" alt="kantoorgebouw" alt="First slide">
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
            class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span
            class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
<p></p>
<p><a class="group1" href="assets/images/popupwebsite.png" title="Hib IMMO Promo"></a></p>