<p class="text-center" style="color: #6283A0; font-size: 40px;">
    Wij verlagen ons commissieloon naar <span style="color: red">2,42%</span>
</p>
<p>
    Van 30 maart tot 30 september verlagen wij ons commissieloon naar 2,42%<br>
    zodat u kan kennis maken met onze diensten en kan bevestigen dat wij een betere kwaliteit<br>
    leveren en nu ook voor minder geld.
</p>
<p>
    Onze troeven :
<ul>
    <li>Persoonlijke service</li>
    <li>Active opvolging van uw project</li>
    <li>Combinatie van jeudig dynamische en jarenlange ervaring</li>
    <li>Gunstig tarief</li>
</ul>

</p>
<p>
    Aarzel dus niet en neem vandaag nog contact op met ons !!! <br>

<ul>
    <li>Tel : 016/509026</li>
    <li>Email : <a href="mailto:info@hib-immo.be">info@hib-immo.be</a></li>
</ul>
</p>
