<div class="row">
    <div class="col-md-offset-2 col-md-6">
        <p class="detail-title">7 goede redenen om met ons in zee te gaan </p>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <section class="ac-container">
            <div>
                <input id="ac-1" name="accordion-1" type="checkbox"/>
                <label for="ac-1"> Realistische schatting</label>
                <article class="ac-medium">
                    <p>wij komen de woning schatten aan een zeer realistische prijs,
                        wij zijn geen immo die u zegt dat u het dubbele kan krijgen van wat het pand waard is en na 3
                        maanden de prijs drastisch verlagen – met een marktconforme prijs verkoopt u uw woning snel en
                        wekt u het vertrouwen van potentiële kandidaat kopers.
                    </p>
                </article>
            </div>
            <div>
                <input id="ac-2" name="accordion-1" type="checkbox"/>
                <label for="ac-2">Actieve opvolging</label>
                <article class="ac-medium">
                    <p>wij gaan actief uw woning verkopen en spelen snel in op kandidaat kopers, op 9 van de 10
                        aanvragen wordt het pand diezelfde dag nog bezocht. Eveneens hebben wij een grote uitstaletalage
                        in het centrum van Rillaar waar dagelijks tal van voorbijgangers komen
                    </p>
                </article>
            </div>
            <div>
                <input id="ac-3" name="accordion-1" type="checkbox"/>
                <label for="ac-3">Geen verkoop = geen kosten</label>
                <article class="ac-medium">
                    <p>
                        indien de woning niet verkocht is dient u ons niets te betalen voor de bezoeken die wij gedaan
                        hebben met potentiële kandidaten of de opzoekingen die we gedaan hebben en de reclame dat wij
                        gemaakt hebben.
                    </p>
                </article>
            </div>
            <div>
                <input id="ac-4" name="accordion-1" type="checkbox"/>
                <label for="ac-4">Persoonlijke aanpak</label>
                <article class="ac-medium">
                    <p>
                        Voor ons bent u niet pandnummer zoveel, maar bent u een klant met bepaalde behoeften. Wij kiezen
                        voor een persoonlijke aanpak en nemen de tijd om naar uw verhaal te luisteren om hiervan een
                        goede analyse te maken en volledig te voldoen aan uw verwachtingen.

                    </p>
                </article>
            </div>
            <div>
                <input id="ac-5" name="accordion-1" type="checkbox"/>
                <label for="ac-5">Gerichte publiciteit</label>
                <article class="ac-medium">
                    <p>
                        Gezien wij nog niet lang bezig zijn en nog volop aan onze naambekendheid werken, verdelen wij op
                        regelmatige basis folders met onze acties en publiceren wij hierin onze nieuwe panden, dat
                        speelt ook in uw voordeel en wij vangen 2 vliegen in 1 klap! Zo verhuurden we bij onze laatste
                        folder verdeling 3 appartementen en 1 huis op minder dan 1 maand tijd.
                    </p>
                </article>
            </div>
            <div>
                <input id="ac-6" name="accordion-1" type="checkbox"/>
                <label for="ac-6">Acties en maatwerk</label>
                <article class="ac-medium">
                    <p>
                        Hou zeker onze website in het oog met onze lopende acties, deze kunnen u veel geld besparen!
                        Loopt er echter geen actie, neem gerust met ons contact op en we kijken wat we voor u kunnen
                        betekenen en een aangepaste formule voor u opmaken, want iedereen is verschillend en heeft
                        andere verwachtingen. Gezien wij een zelfstandig kantoor zijn dat niet afhangt van een grote
                        groep kunnen wij ons flexibel opstellen naar al uw vragen en wensen.

                    </p>
                </article>
            </div>
            <div>
                <input id="ac-7" name="accordion-1" type="checkbox" checked/>
                <label for="ac-7">Vrijblijvende kennismaking</label>
                <article class="ac-medium">
                    <p>
                        Een eerste kennismakingsgesprek is steeds volledig vrijblijvend en gratis. Wenst u informatie te
                        ontvangen, u zal die van ons krijgen, zonder ons op te dringen, wij willen dat u zich
                        vrijblijvend kan informeren zonder het gevoel te hebben dat iets moet, maar omdat u het graag
                        wil. Zo doet u de beste zaken.

                    </p>
                </article>
            </div>
        </section>
    </div>
</div>

